@page "/"

<PageTitle>Desafio Blazor</PageTitle>

<h1>Desafio Blazor</h1>

Projeto do Grupo 27:<br>
Fernando Voigt, Lucas Maciel, Alex Bannach
<br>
<br>

<h3>Alex Francis Bannach <a href="https://www.linkedin.com/in/alex-francis-bannach-51639233/"><img src="https://cdn-icons-png.flaticon.com/256/174/174857.png" width="20px"></a></h3>
Empresa: Olostech<br>
QA/Tester pleno<br>

<br>
<h3>Fernando Edinei Voigt <a href="https://www.linkedin.com/in/fernandovoigt/"><img src="https://cdn-icons-png.flaticon.com/256/174/174857.png" width="20px"></a></h3>
Empresa: Olostech<br>
Desenvolvedor full stack júnior<br>

<br>
<h3>Lucas Maciel da Silva <a href="https://www.linkedin.com/in/lucas-silva82/"><img src="https://cdn-icons-png.flaticon.com/256/174/174857.png" width="20px"></a></h3>
Empresa: Olostech<br>
Desenvolvedor full stack júnior<br>







